<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/heybro.outfits" role="button" target="_blank">
          <i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/heybro.ok/" role="button" target="_blank">
          <i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button" target="_blank">
          <i class="fab fa-whatsapp"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form id="newsletter" action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Suscribite a nuestro newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="inputNewsletter" class="form-control" />
                <label class="form-label" for="form5Example2">Tu email</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Suscribirme
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Somos HEY BRO! Indumentaria Masculina. Somos tu mejor opción.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/" class="text-white">HOME</a>
              </li>
              <li>
                <a href="/tienda" class="text-white">E-SHOP</a>
              </li>
              <li>
                <a href="/nosotros.html" class="text-white">NOSOTROS</a>
              </li>
              <li>
                <a href="/contacto.html" class="text-white">CONTACTO</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">+ Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text-white" target="_blank">WHATSAPP</a>
              </li>
              <li>
                <a href="https://www.instagram.com/heybro.ok/" class="text-white" target="_blank">INSTAGRAM</a>
              </li>
              <li>
                <a href="https://www.facebook.com/heybro.outfits" class="text-white" target="_blank">FACEBOOK</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.889891852303!2d-68.58001668447072!3d-31.527183981367404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9681410672252731%3A0x76bd74a1f3918381!2sHey%20Bro*21%20Outfits!5e0!3m2!1ses!2sar!4v1632608056506!5m2!1ses!2sar" width="300rem" height="220rem" style="border:0; margin-top: 1rem;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
</footer>